body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --primary_brand-color: #4d5ae5;
    --pressed_state-color: #404bbf;
    --dark-color: #2e2f42;
    --succes-color: #31d0aa;
    --text-color: #434455;
    --subtle_text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --modal_overlay-color: #2e2f42;
    --section_background-color: #2e2f42;
    --white_background-color: #ffffff;
    --modal_background-color: #fcfcfc;
}

.navigation-logo {
    color: var(--primary_brand-color);
    font-family: 'Raleway', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
}

.logo-span {
    color: var(--dark-color);
}

.navigation-link {
    color: var(--dark-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.address-link {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    cursor: pointer;
    text-decoration: none;
}

.navigation-link:hover,
.navigation-logo:focus {
    color: var(--pressed_state-color);
}

.address {
    font-style: normal;
}

.filter-button {
    color: var(--primary_brand-color);
    background-color: #f4f4fd;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
    color: #ffffff;
    background-color: #404bbf;

    text-align: center;
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.heading-portfolio {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
}

.paragraph-portfolio {
    color: var(--text-color);
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.02em;
}
.section-first {
    background-color: var(--section_background-color);
}
.heading-one {
    color: #FFFFFF;
    text-align: center;
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}

.heading-one {
    color: #ffffff;
    background-color: #4d5ae5;
    font-family: 'Roboto' sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}

.button:focus,
.button:hover {
    background-color: var(--pressed_state-color);
}

.heading-two {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
}

.section-third {
    background-color: var(--white_background-color);
}

.paragraph-one {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.section-fourth {
    background: #f4f4fd;
}
 .li-one {
    background-color: #FFFFFF;
 }

 .heading-five {
    color: var(--dark-color);
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.4px;
 }

 .paragraph-two {
    color: var(--text-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02e,;
 }

 .footer {
    background-color: var(--section_background-color);
 }
  
 .logo-link {
    color: var(--primary_brand-color);
    font-family: 'Roboto' sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
 }

 .span-footer {
    color: var(--light-color);
 }

 .footer-paragraph {
    color: var(--light-color);
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
 }