body {
    font-family: 'Roboto', sans-serif;
    color: #434455;
    background-color: #FFFFFF;
}

:root {
    --primary_brand-color: #4d5ae5;
    --pressed_state-color: #404bbf;
    --dark-color: #2e2f42;
    --succes-color: #31d0aa;
    --text-color: #434455;
    --subtle_text-color: #8e8f99;
    --accent-color: #e7e9fc;
    --light-color: #f4f4fd;
    --modal_overlay-color: #2e2f42;
    --hero_background-color: #2e2f42;
    --white_background-color: #ffffff;
    --modal_background-color: #fcfcfc;
}

.navigation-logo {
    color: var(--primary_brand-color);
    font-family: Raleway;
}